In [1]:
import random
sir = []
for i in range(0,5):
    print(random.randint(0, 10))

1
8
4
1
3

In [ ]:
print(64+32)

In [3]:
x = 64
y = 32
summation =x+y
print(summation)

96

In [4]:
print('Mathew MacCoughney')

Mathew MacCoughney

In [5]:
s = 'lucky'
print(s)

lucky

In [6]:
day = 2
month = 2
year = 2016
print(f"Today is {day}/{month}/{year}")

Today is 2/2/2016

In [13]:
S = "Robert Oppenheimer"
S = S.replace("Robert", "Robby")
S = S.replace("Oppenheimer", "Barbie" )
print(S)

w = "risk"
w = w.replace(w,"rizz")
print(w)

Robby Barbie
buzz

In [1]:
s = "Robert robert robert"
s = s.find("robert")
print(s)

article = """A nuclear weapon[a] is an explosive device that derives its destructive force from nuclear reactions, either fission (fission bomb) or a combination of fission and fusion reactions (thermonuclear bomb), producing a nuclear explosion. Both bomb types release large quantities of energy from relatively small amounts of matter.

The first test of a fission ("atomic") bomb released an amount of energy approximately equal to 20,000 tons of TNT (84 TJ).[1] The first thermonuclear ("hydrogen") bomb test released energy approximately equal to 10 million tons of TNT (42 PJ). Nuclear bombs have had yields between 10 tons TNT (the W54) and 50 megatons for the Tsar Bomba (see TNT equivalent). A thermonuclear weapon weighing as little as 600 pounds (270 kg) can release energy equal to more than 1.2 megatonnes of TNT (5.0 PJ).[2]

A nuclear device no larger than a conventional bomb can devastate an entire city by blast, fire, and radiation. Since they are weapons of mass destruction, the proliferation of nuclear weapons is a focus of international relations policy. Nuclear weapons have been deployed twice in war, by the United States against the Japanese cities of Hiroshima and Nagasaki in 1945 during World War II. """

print(article)
userinput = input("enter a word to test the find functions: ")

print(article.find(userinput))

7
A nuclear weapon[a] is an explosive device that derives its destructive force from nuclear reactions, either fission (fission bomb) or a combination of fission and fusion reactions (thermonuclear bomb), producing a nuclear explosion. Both bomb types release large quantities of energy from relatively small amounts of matter.

The first test of a fission ("atomic") bomb released an amount of energy approximately equal to 20,000 tons of TNT (84 TJ).[1] The first thermonuclear ("hydrogen") bomb test released energy approximately equal to 10 million tons of TNT (42 PJ). Nuclear bombs have had yields between 10 tons TNT (the W54) and 50 megatons for the Tsar Bomba (see TNT equivalent). A thermonuclear weapon weighing as little as 600 pounds (270 kg) can release energy equal to more than 1.2 megatonnes of TNT (5.0 PJ).[2]

A nuclear device no larger than a conventional bomb can devastate an entire city by blast, fire, and radiation. Since they are weapons of mass destruction, the proliferation of nuclear weapons is a focus of international relations policy. Nuclear weapons have been deployed twice in war, by the United States against the Japanese cities of Hiroshima and Nagasaki in 1945 during World War II.

String Join

In [2]:
words = ['You', 'are', 'the', 'man', 'who', 'gave', 'them', 'the', 'power', 'to', 'destroy', 'themselves', 'and', 'the', 'world', 'is', 'not', 'prepared']
joinSpace = ' '.join(words)
print(joinSpace)
joinUnderscore = '_'.join(words)
print(joinUnderscore)

You are the man who gave them the power to destroy themselves and the world is not prepared
You_are_the_man_who_gave_them_the_power_to_destroy_themselves_and_the_world_is_not_prepared

String Split

In [6]:
string ='World,Earth,America,Canada'
print(string.split(','))

article = '''Let me first say. The man’s morals are appalling. Tate takes ideas way too far. All because he knows his target audience is super emotional. They bleed with vulnerability. Hurt people are brutal, anger steers ugly words and even uglier actions. Tate took advantage.

What I will focus on is his marketing and educational content. I hope you can do the same. I never watched a video of him speaking ever. Well, until today. This past week, I’ve been binge-watching marketing videos. You know how algorithms work.'''

phrase = article.split('.')
print(phrase)

['World', 'Earth', 'America', 'Canada']
['Let me first say', ' The man’s morals are appalling', ' Tate takes ideas way too far', ' All because he knows his target audience is super emotional', ' They bleed with vulnerability', ' Hurt people are brutal, anger steers ugly words and even uglier actions', ' Tate took advantage', '\n\nWhat I will focus on is his marketing and educational content', ' I hope you can do the same', ' I never watched a video of him speaking ever', ' Well, until today', ' This past week, I’ve been binge-watching marketing videos', ' You know how algorithms work', '']

Random Number

In [ ]:
import random
x = random.randint(0,100)
list = []
for i in range(0,100):
    list.append(random.randint(0,100))
for j in range(0,100):
    count = 0
    for number in list:
        if number == j:
            count=count+1
    print(f"Occurances of {j} is {count} times")

Occurances of 0 is 1 times
Occurances of 1 is 2 times
Occurances of 2 is 4 times
Occurances of 3 is 3 times
Occurances of 4 is 0 times
Occurances of 5 is 0 times
Occurances of 6 is 0 times
Occurances of 7 is 1 times
Occurances of 8 is 0 times
Occurances of 9 is 1 times
Occurances of 10 is 0 times
Occurances of 11 is 0 times
Occurances of 12 is 2 times
Occurances of 13 is 0 times
Occurances of 14 is 0 times
Occurances of 15 is 0 times
Occurances of 16 is 2 times
Occurances of 17 is 1 times
Occurances of 18 is 1 times
Occurances of 19 is 1 times
Occurances of 20 is 0 times
Occurances of 21 is 0 times
Occurances of 22 is 0 times
Occurances of 23 is 2 times
Occurances of 24 is 2 times
Occurances of 25 is 3 times
Occurances of 26 is 0 times
Occurances of 27 is 2 times
Occurances of 28 is 0 times
Occurances of 29 is 1 times
Occurances of 30 is 2 times
Occurances of 31 is 0 times
Occurances of 32 is 2 times
Occurances of 33 is 3 times
Occurances of 34 is 0 times
Occurances of 35 is 0 times
Occurances of 36 is 1 times
Occurances of 37 is 3 times
Occurances of 38 is 0 times
Occurances of 39 is 0 times
Occurances of 40 is 3 times
Occurances of 41 is 0 times
Occurances of 42 is 0 times
Occurances of 43 is 1 times
Occurances of 44 is 1 times
Occurances of 45 is 0 times
Occurances of 46 is 0 times
Occurances of 47 is 1 times
Occurances of 48 is 2 times
Occurances of 49 is 0 times
Occurances of 50 is 0 times
Occurances of 51 is 1 times
Occurances of 52 is 1 times
Occurances of 53 is 2 times
Occurances of 54 is 0 times
Occurances of 55 is 2 times
Occurances of 56 is 0 times
Occurances of 57 is 2 times
Occurances of 58 is 2 times
Occurances of 59 is 2 times
Occurances of 60 is 2 times
Occurances of 61 is 0 times
Occurances of 62 is 2 times
Occurances of 63 is 0 times
Occurances of 64 is 1 times
Occurances of 65 is 2 times
Occurances of 66 is 0 times
Occurances of 67 is 0 times
Occurances of 68 is 1 times
Occurances of 69 is 2 times
Occurances of 70 is 0 times
Occurances of 71 is 2 times
Occurances of 72 is 0 times
Occurances of 73 is 0 times
Occurances of 74 is 2 times
Occurances of 75 is 1 times
Occurances of 76 is 0 times
Occurances of 77 is 0 times
Occurances of 78 is 1 times
Occurances of 79 is 0 times
Occurances of 80 is 0 times
Occurances of 81 is 1 times
Occurances of 82 is 2 times
Occurances of 83 is 2 times
Occurances of 84 is 1 times
Occurances of 85 is 1 times
Occurances of 86 is 1 times
Occurances of 87 is 0 times
Occurances of 88 is 1 times
Occurances of 89 is 1 times
Occurances of 90 is 3 times
Occurances of 91 is 2 times
Occurances of 92 is 2 times
Occurances of 93 is 0 times
Occurances of 94 is 1 times
Occurances of 95 is 0 times
Occurances of 96 is 1 times
Occurances of 97 is 0 times
Occurances of 98 is 0 times
Occurances of 99 is 2 times

Keyboard input

In [ ]:
tel = input("What's your phnome number?")

If

In [1]:
# Make a program that asks the number between 1 and 10. If the number is out of range the program should display “invalid number”.
while True:
    try:
        numInput = int(input("Enter the number between 1 and 10: "))
        if 1 <= numInput <= 10:
            break
        else:
            print("Invalid number. Please enter a number between 1 and 10.")
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

In [ ]:
# Make a program that asks a password.
password = input("Enter the password")

For loops

In [1]:
# Make a program that lists the countries in the set
clist = ['Canada', 'USA', 'Mexico', 'Australia']
for country in clist:
    print(country)

Canada
USA
Mexico
Australia

In [2]:
# Create a loop that counts from 0 to 100
count = 0
for i in range(0,101):
    print(count)
    count+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [5]:
# <!-- Make a multiplication table using a loop -->
for i in range(0,11):
    for j in range(0,11):
        result = i * j
        print(f"{j} * {i} = {result:2}", end="\t")
    print()

0 * 0 =  0	1 * 0 =  0	2 * 0 =  0	3 * 0 =  0	4 * 0 =  0	5 * 0 =  0	6 * 0 =  0	7 * 0 =  0	8 * 0 =  0	9 * 0 =  0	10 * 0 =  0
0 * 1 =  0	1 * 1 =  1	2 * 1 =  2	3 * 1 =  3	4 * 1 =  4	5 * 1 =  5	6 * 1 =  6	7 * 1 =  7	8 * 1 =  8	9 * 1 =  9	10 * 1 = 10
0 * 2 =  0	1 * 2 =  2	2 * 2 =  4	3 * 2 =  6	4 * 2 =  8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	10 * 2 = 20
0 * 3 =  0	1 * 3 =  3	2 * 3 =  6	3 * 3 =  9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	10 * 3 = 30
0 * 4 =  0	1 * 4 =  4	2 * 4 =  8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	10 * 4 = 40
0 * 5 =  0	1 * 5 =  5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	10 * 5 = 50
0 * 6 =  0	1 * 6 =  6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	10 * 6 = 60
0 * 7 =  0	1 * 7 =  7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	10 * 7 = 70
0 * 8 =  0	1 * 8 =  8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	10 * 8 = 80
0 * 9 =  0	1 * 9 =  9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81	10 * 9 = 90
0 * 10 =  0	1 * 10 = 10	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50	6 * 10 = 60	7 * 10 = 70	8 * 10 = 80	9 * 10 = 90	10 * 10 = 100

In [6]:
# Output the numbers 1 to 10 backwards using a loop
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [7]:
# Create a loop that counts all even numbers to 10
for i in range(1,11):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10

In [9]:
# Create a loop that sums the numbers from 100 to 200
sum = 0
for i in range(100,201):
    sum+=i
print(sum)

15150

While loops

In [10]:
# Make a program that lists the countries in the set below using a while loop.
clist = ["Canada","USA","Mexico"]
while clist:
    print(clist.pop(0))

Canada
USA
Mexico

In [27]:
# Can you sum numbers in a while loop?
num_range = range(0, 1000)
iterator = iter(num_range)
result_sum = 0

while True:
    try:
        element = next(iterator)
        result_sum += element
    except StopIteration:
        break

print(result_sum)

499500

In [ ]:
# Can a for loop be used inside a while loop?