In [1]:
# Ex - Getting and Knowing your Data


### Step 1. Import the necessary libraries

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.0-cp39-cp39-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/nisoeung/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nisoeung/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Downloading pandas-2.2.0-cp39-cp39-macosx_11_0_arm64.whl (11.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 1.6 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 940.1 kB/s eta 0:00:00a 0:00:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 1.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.0 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ratta\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ratta\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ratta\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ratta\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\ratta\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

/var/folders/7r/5l3qk64j0xgc5vs_9ldbb5r00000gn/T/ipykernel_46483/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
import numpy as np

### Step 2. Import the dataset located in the current folder and assign it to a variabl called chipo.

In [3]:
import pandas as pd

file_path = "chipotle.tsv"
chipo = pd.read_csv(file_path, delimiter='\t')

### Step 3. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. What is the number of observations in the dataset?

In [5]:
# Solution 1

chipo.shape[0]

4622

In [6]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 5. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

### Step 6. Print the name of all the columns.

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 7. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 8. Which was the most-ordered item?

In [10]:
item_counts = chipo.groupby('item_name').quantity.sum()
most_ordered_item = item_counts.idxmax()

print("The most-ordered item is:", most_ordered_item)

The most-ordered item is: Chicken Bowl

### Step 9. For the most-ordered item, how many items were ordered?

In [11]:
item = chipo.groupby('item_name')
item = item.sum()
item = item.sort_values(['quantity'], ascending=False)
item.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 10. What was the most ordered item in the choice_description column?

In [15]:
item = chipo.groupby('choice_description').sum()
item = item.sort_values(['quantity'], ascending=False)
item.head(1)

C:\Users\ratta\AppData\Local\Temp\ipykernel_23820\3424973806.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  item = chipo.groupby('choice_description').sum()

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 11. How many items were orderd in total?

In [16]:
total_orders = chipo.quantity.sum()
total_orders

4972

### Step 12. Turn the item price into a float

#### Step 12.a. Check the item price type

In [17]:
print("Item price type before conversion:", chipo.item_price.dtype)

Item price type before conversion: object

#### Step 12.b. Create a lambda function and change the type of item price

In [18]:
dollarizer = lambda x: float(x.replace('$', '')) if isinstance(x, str) else x

chipo['item_price'] = chipo['item_price'].apply(dollarizer)

#### Step 12.c. Check the item price type

In [19]:
print("Item price type after conversion:", chipo['item_price'].dtype)

Item price type after conversion: float64

### Step 13. How much was the revenue for the period in the dataset?

In [20]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()

print("The revenue for the period in the dataset is: ${:.2f}".format(revenue))

The revenue for the period in the dataset is: $39237.02

### Step 14. How many orders were made in the period?

In [21]:
orders = chipo.order_id.value_counts().count()
print(f"There are {orders} orders were made in the period")

There are 1834 orders were made in the period

### Step 15. What is the average revenue amount per order?

In [22]:
# Solution 1

# Calculate the total revenue for each order
order_revenue = chipo.groupby('order_id')[['quantity', 'item_price']].apply(lambda x: (x['quantity'] * x['item_price']).sum())

# Calculate the average revenue per order
average_revenue_per_order = order_revenue.mean()

print("The average revenue amount per order is: ${:.2f}".format(average_revenue_per_order))

The average revenue amount per order is: $21.39

In [23]:
# Solution 2

# Calulate the total revenue for each order
order_totals = chipo.groupby('order_id').apply(lambda x: (x['quantity'] * x['item_price']).sum())

# Calculate the average revenue amount per order
average_revenue_per_order = order_totals.mean()

print("The average revenue amount per order is: ${:.2f}".format(average_revenue_per_order))

The average revenue amount per order is: $21.39

### Step 16. How many different items are sold?

In [24]:
chipo.item_name.value_counts().count()

50