Variables
• Make a program that displays several numbers.
• Make a program that solves and shows the summation of 64 + 32. • Dothesameasin2,butmakeitsumx+y.

In [72]:
import random
sir = []
for i in range(0,5):
    print(random.randint(0, 10))

6
6
2
7
1

In [73]:
print(64+32)

96

In [74]:
x = 64
y = 32
summation =x+y
print(summation)

96

Strings
• Make a program that displays your favourite actor/actress.
• Try to print the word ‘lucky’ inside s.
• Try to print the day, month, year in the form “Today is 2/2/2016”.

In [75]:
print('Mathew MacCoughney')

Mathew MacCoughney

In [76]:
s = 'lucky'
print(s)

lucky

In [77]:
day = 2
month = 2
year = 2016
print(f"Today is {day}/{month}/{year}")

Today is 2/2/2016

String replace

• Try the replace program
• Can a string be replaced twice?
• Does replace only work with words or also phrases?

In [78]:
S = "Robert Oppenheimer"
S = S.replace("Robert", "Robby")
S = S.replace("Oppenheimer", "Barbie" )
print(S)

w = "risk"
w = w.replace(w,"rizz")
print(w)

Robby Barbie
rizz

String find
• Find out if string find is case sensitive
• What if a query string appers twice in the string?
• Write a program that asks console input and searches for a query.

In [79]:
s = "Robert robert robert"
s = s.find("robert")
print(s)

article = """A nuclear weapon[a] is an explosive device that derives its destructive force from nuclear reactions, either fission (fission bomb) or a combination of fission and fusion reactions (thermonuclear bomb), producing a nuclear explosion. Both bomb types release large quantities of energy from relatively small amounts of matter.

The first test of a fission ("atomic") bomb released an amount of energy approximately equal to 20,000 tons of TNT (84 TJ).[1] The first thermonuclear ("hydrogen") bomb test released energy approximately equal to 10 million tons of TNT (42 PJ). Nuclear bombs have had yields between 10 tons TNT (the W54) and 50 megatons for the Tsar Bomba (see TNT equivalent). A thermonuclear weapon weighing as little as 600 pounds (270 kg) can release energy equal to more than 1.2 megatonnes of TNT (5.0 PJ).[2]

A nuclear device no larger than a conventional bomb can devastate an entire city by blast, fire, and radiation. Since they are weapons of mass destruction, the proliferation of nuclear weapons is a focus of international relations policy. Nuclear weapons have been deployed twice in war, by the United States against the Japanese cities of Hiroshima and Nagasaki in 1945 during World War II. """

print(article)
userinput = input("enter a word to test the find functions: ")

print(article.find(userinput))

7
A nuclear weapon[a] is an explosive device that derives its destructive force from nuclear reactions, either fission (fission bomb) or a combination of fission and fusion reactions (thermonuclear bomb), producing a nuclear explosion. Both bomb types release large quantities of energy from relatively small amounts of matter.

The first test of a fission ("atomic") bomb released an amount of energy approximately equal to 20,000 tons of TNT (84 TJ).[1] The first thermonuclear ("hydrogen") bomb test released energy approximately equal to 10 million tons of TNT (42 PJ). Nuclear bombs have had yields between 10 tons TNT (the W54) and 50 megatons for the Tsar Bomba (see TNT equivalent). A thermonuclear weapon weighing as little as 600 pounds (270 kg) can release energy equal to more than 1.2 megatonnes of TNT (5.0 PJ).[2]

A nuclear device no larger than a conventional bomb can devastate an entire city by blast, fire, and radiation. Since they are weapons of mass destruction, the proliferation of nuclear weapons is a focus of international relations policy. Nuclear weapons have been deployed twice in war, by the United States against the Japanese cities of Hiroshima and Nagasaki in 1945 during World War II.
-1

String Join
• Create a list of words and join them, like the example above.
• Try changing the seperator string from a space to an underscore.

In [80]:
words = ['You', 'are', 'the', 'man', 'who', 'gave', 'them', 'the', 'power', 'to', 'destroy', 'themselves', 'and', 'the', 'world', 'is', 'not', 'prepared']
joinSpace = ' '.join(words)
print(joinSpace)
joinUnderscore = '_'.join(words)
print(joinUnderscore)

You are the man who gave them the power to destroy themselves and the world is not prepared
You_are_the_man_who_gave_them_the_power_to_destroy_themselves_and_the_world_is_not_prepared

String Split
 Can a string be split on multiple characters?
• Can you split a string this string?: World,Earth,America,Canada • Given an article, can you split it based on phrases?

In [81]:
string ='World,Earth,America,Canada'
print(string.split(','))

article = '''Let me first say. The man’s morals are appalling. Tate takes ideas way too far. All because he knows his target audience is super emotional. They bleed with vulnerability. Hurt people are brutal, anger steers ugly words and even uglier actions. Tate took advantage.

What I will focus on is his marketing and educational content. I hope you can do the same. I never watched a video of him speaking ever. Well, until today. This past week, I’ve been binge-watching marketing videos. You know how algorithms work.'''

phrase = article.split('.')
print(phrase)

['World', 'Earth', 'America', 'Canada']
['Let me first say', ' The man’s morals are appalling', ' Tate takes ideas way too far', ' All because he knows his target audience is super emotional', ' They bleed with vulnerability', ' Hurt people are brutal, anger steers ugly words and even uglier actions', ' Tate took advantage', '\n\nWhat I will focus on is his marketing and educational content', ' I hope you can do the same', ' I never watched a video of him speaking ever', ' Well, until today', ' This past week, I’ve been binge-watching marketing videos', ' You know how algorithms work', '']

Random Number
• Make a program that creates a random number and stores it into x.
• Make a program that prints 3 random numbers.
• Create a program that generates 100 random numbers and find the frequency of each number.

In [82]:
import random
x = random.randint(0,100)
list = []
for i in range(0,100):
    list.append(random.randint(0,100))
for j in range(0,100):
    count = 0
    for number in list:
        if number == j:
            count=count+1
    print(f"Occurances of {j} is {count} times")

Occurances of 0 is 1 times
Occurances of 1 is 1 times
Occurances of 2 is 2 times
Occurances of 3 is 2 times
Occurances of 4 is 0 times
Occurances of 5 is 1 times
Occurances of 6 is 1 times
Occurances of 7 is 1 times
Occurances of 8 is 2 times
Occurances of 9 is 3 times
Occurances of 10 is 1 times
Occurances of 11 is 1 times
Occurances of 12 is 0 times
Occurances of 13 is 0 times
Occurances of 14 is 0 times
Occurances of 15 is 0 times
Occurances of 16 is 0 times
Occurances of 17 is 0 times
Occurances of 18 is 1 times
Occurances of 19 is 2 times
Occurances of 20 is 1 times
Occurances of 21 is 2 times
Occurances of 22 is 1 times
Occurances of 23 is 1 times
Occurances of 24 is 3 times
Occurances of 25 is 1 times
Occurances of 26 is 1 times
Occurances of 27 is 0 times
Occurances of 28 is 1 times
Occurances of 29 is 1 times
Occurances of 30 is 1 times
Occurances of 31 is 1 times
Occurances of 32 is 0 times
Occurances of 33 is 1 times
Occurances of 34 is 1 times
Occurances of 35 is 0 times
Occurances of 36 is 1 times
Occurances of 37 is 0 times
Occurances of 38 is 0 times
Occurances of 39 is 0 times
Occurances of 40 is 2 times
Occurances of 41 is 0 times
Occurances of 42 is 1 times
Occurances of 43 is 1 times
Occurances of 44 is 2 times
Occurances of 45 is 0 times
Occurances of 46 is 1 times
Occurances of 47 is 0 times
Occurances of 48 is 1 times
Occurances of 49 is 1 times
Occurances of 50 is 1 times
Occurances of 51 is 1 times
Occurances of 52 is 1 times
Occurances of 53 is 1 times
Occurances of 54 is 1 times
Occurances of 55 is 1 times
Occurances of 56 is 1 times
Occurances of 57 is 0 times
Occurances of 58 is 0 times
Occurances of 59 is 1 times
Occurances of 60 is 2 times
Occurances of 61 is 1 times
Occurances of 62 is 1 times
Occurances of 63 is 2 times
Occurances of 64 is 4 times
Occurances of 65 is 2 times
Occurances of 66 is 1 times
Occurances of 67 is 1 times
Occurances of 68 is 0 times
Occurances of 69 is 1 times
Occurances of 70 is 0 times
Occurances of 71 is 1 times
Occurances of 72 is 1 times
Occurances of 73 is 1 times
Occurances of 74 is 1 times
Occurances of 75 is 1 times
Occurances of 76 is 0 times
Occurances of 77 is 0 times
Occurances of 78 is 1 times
Occurances of 79 is 2 times
Occurances of 80 is 2 times
Occurances of 81 is 0 times
Occurances of 82 is 1 times
Occurances of 83 is 0 times
Occurances of 84 is 0 times
Occurances of 85 is 1 times
Occurances of 86 is 3 times
Occurances of 87 is 2 times
Occurances of 88 is 1 times
Occurances of 89 is 2 times
Occurances of 90 is 0 times
Occurances of 91 is 1 times
Occurances of 92 is 2 times
Occurances of 93 is 1 times
Occurances of 94 is 1 times
Occurances of 95 is 3 times
Occurances of 96 is 2 times
Occurances of 97 is 0 times
Occurances of 98 is 0 times
Occurances of 99 is 2 times

Keyboard input
Make a program that asks a phone number.
• Make a program that asks the users preferred programming language.

In [83]:
tel = input("What's your phnome number?")
lang = input("What's your preferred programming language?")

If

In [84]:
# Make a program that asks the number between 1 and 10. If the number is out of range the program should display “invalid number”.
while True:
    try:
        numInput = int(input("Enter the number between 1 and 10: "))
        if 1 <= numInput <= 10:
            break
        else:
            print("Invalid number. Please enter a number between 1 and 10.")
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

In [85]:
# Make a program that asks a password.
password = input("Enter the password")

For loops

In [86]:
# Make a program that lists the countries in the set
clist = ['Canada', 'USA', 'Mexico', 'Australia']
for country in clist:
    print(country)

Canada
USA
Mexico
Australia

In [87]:
# Create a loop that counts from 0 to 100
count = 0
for i in range(0,101):
    print(count)
    count+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [88]:
# <!-- Make a multiplication table using a loop -->
for i in range(0,11):
    for j in range(0,11):
        result = i * j
        print(f"{j} * {i} = {result:2}", end="\t")
    print()

0 * 0 =  0	1 * 0 =  0	2 * 0 =  0	3 * 0 =  0	4 * 0 =  0	5 * 0 =  0	6 * 0 =  0	7 * 0 =  0	8 * 0 =  0	9 * 0 =  0	10 * 0 =  0
0 * 1 =  0	1 * 1 =  1	2 * 1 =  2	3 * 1 =  3	4 * 1 =  4	5 * 1 =  5	6 * 1 =  6	7 * 1 =  7	8 * 1 =  8	9 * 1 =  9	10 * 1 = 10
0 * 2 =  0	1 * 2 =  2	2 * 2 =  4	3 * 2 =  6	4 * 2 =  8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	10 * 2 = 20
0 * 3 =  0	1 * 3 =  3	2 * 3 =  6	3 * 3 =  9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	10 * 3 = 30
0 * 4 =  0	1 * 4 =  4	2 * 4 =  8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	10 * 4 = 40
0 * 5 =  0	1 * 5 =  5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	10 * 5 = 50
0 * 6 =  0	1 * 6 =  6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	10 * 6 = 60
0 * 7 =  0	1 * 7 =  7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	10 * 7 = 70
0 * 8 =  0	1 * 8 =  8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	10 * 8 = 80
0 * 9 =  0	1 * 9 =  9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81	10 * 9 = 90
0 * 10 =  0	1 * 10 = 10	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50	6 * 10 = 60	7 * 10 = 70	8 * 10 = 80	9 * 10 = 90	10 * 10 = 100

In [89]:
# Output the numbers 1 to 10 backwards using a loop
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [90]:
# Create a loop that counts all even numbers to 10
for i in range(1,11):
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [91]:
# Create a loop that sums the numbers from 100 to 200
sum = 0
for i in range(100,201):
    sum+=i
print(sum)

15150

While loops

In [92]:
# Make a program that lists the countries in the set below using a while loop.
clist = ["Canada","USA","Mexico"]
while clist:
    print(clist.pop(0))

Canada
USA
Mexico

In [93]:
# Can you sum numbers in a while loop?
num_range = range(0, 1000)
iterator = iter(num_range)
result_sum = 0

while True:
    try:
        element = next(iterator)
        result_sum += element
    except StopIteration:
        break

print(result_sum)

499500

In [94]:
# Can a for loop be used inside a while loop?
iteration = [1, 2, 3, 4, 5, 6, 7, 8, 9, "Stop"]
loop = True
while loop:
    for item in iteration:
        print(item)
        if item == "Stop":
            loop = False
            break

1
2
3
4
5
6
7
8
9
Stop

Functions

In [95]:
# 1. Make a function that sums the list mylist = [1,2,3,4,5]
def sumlist(list):
    sum =0 
    for item in list:
        sum+= item    
    return sum

if __name__ == "__main__":
    mylist = [1,2,3,4,5]
    print(sumlist(mylist))

15

In [96]:
# Can functions be called inside a function?

def mylist():
    mylist = [1,2,3,4,5]
    return mylist

def sumlist():
    list = mylist()
    sum =0 
    for item in list:
        sum+= item    
    return sum

if __name__ == "__main__":
    print(sumlist())

15

In [97]:
# Can a function call itself?

def hello(n):
    if n == 0:
        return
    print("Hello World")
    hello(n-1)

hello(5)

Hello World
Hello World
Hello World
Hello World
Hello World

In [98]:
# Can variables defined in a function be used in another function?

def hello():
    variable = "anyang"
    def world():
        print(variable)
    world()
    
hello()

anyang

List

In [99]:
# • Make a program that displays the states in the U.S.
states = [
    'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
    'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
    'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
    'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
    'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
    'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
    'West Virginia', 'Wisconsin', 'Wyoming'
]
# • Display all states starting with the letter M
for state in states: 
    if state[0] == "M":
        print(state)

Maine
Maryland
Massachusetts
Michigan
Minnesota
Mississippi
Missouri
Montana

List operations

In [100]:
# • Given the list y = [6,4,2] add the items 12, 8 and 4.
y = [6, 4, 2]
y.extend([12, 8, 4])
print(y)

# • Change the 2nd item of the list to 3.
y[1] = 3
print(y)

[6, 4, 2, 12, 8, 4]
[6, 3, 2, 12, 8, 4]

Sorting list

In [101]:
# Sorting list
x = [(3, 6), (4, 7), (5, 9), (8, 4), (3, 1)]
sorted_by_first_element = sorted(x, key=lambda pair: pair[0])
print(sorted_by_first_element)

[(3, 6), (3, 1), (4, 7), (5, 9), (8, 4)]

Range function

In [102]:
# • Create a list of one thousand numbers
numlist = range(1,1001)
# • Get the largest and smallest number from that list
maxnum = max(numlist)
minnum = min(numlist) 
print(maxnum, minnum)
# • Create two lists, an even and odd one.
even_nums = [num for num in numlist if num % 2 == 0]
odd_nums = [num for num in numlist if num % 2 != 0]
print(even_nums)
print(odd_nums)

1000 1
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]

Dictionary

In [103]:
# Creating a dictionary mapping countries to country short codes
country_codes = {
    'United States': 'US',
    'Canada': 'CA',
    'United Kingdom': 'UK',
    'Germany': 'DE',
    'France': 'FR',
    'Japan': 'JP',
    'India': 'IN',
}

# Printing each item (key and value) in the dictionary
for country, code in country_codes.items():
    print(f"{country} : {code}")

United States : US
Canada : CA
United Kingdom : UK
Germany : DE
France : FR
Japan : JP
India : IN

Read file

In [104]:
# • Read a file and number every line
with open('file.txt', 'r') as f:
    for i, line in enumerate(f):
        print(f"{i}: {line}")

0: rgfdg

1: gdf

2: s

3: fs

4: gfs

5: fd

6: gsd

7: fg

8: dg

9: fsgfd

10: gsdf

11: h

12: dfg

13: sg

14: dfdf

15: gdfdg

16: sfg

17: sfgghd

18: fgh

19: dfgf

20: sfgghdf

21: ds

22: gdfs

23: gdf

24: fg

In [105]:
# • Find out what the program does if the file doesn’t exist.
with open('filgffhggyjccje.txt', 'r') as f:
    for i, line in enumerate(f):
        print(f"{i}: {line}")

FileNotFoundError: [Errno 2] No such file or directory: 'filgffhggyjccje.txt'

In [ ]:
def create_file(file_path, content):
    file = open(file_path, 'w')
    file.write(content)
    file.close()

def read_file(file_path):
    file = open(file_path, 'r')
    content = file.read()
    file.close()
    print(f"content:{content}")

if __name__ == "__main__":
    create_file('example.txt', ' what u see here is the content in the created file.')
    read_file('example.txt')

content: what u see here is the content in the created file.

Write file

In [ ]:
# • Given a tic-tac-toe board of 3x3, print every position
board = [[" " for _ in range(3)] for _ in range(3)]
for i in range(3):
    for j in range(3):
        board[i][j] = str(3*i + j + 1)      
for i in range(3):
    print("|", end="")
    for j in range(3): 
        print(f" {board[i][j]} |", end="")
    print()

# Create a program where every person meets the other persons = [ “John”, “Marissa”, “Pete”, “Dayton” ]
people = ["John", "Marissa", "Pete", "Dayton"]
print("\n\n\n")
for i in range(len(people)):
    for j in range(len(people)):
        if i != j:
            print(f"{people[i]} meets {people[j]}")

# Nested loop runtime
# If a normal loop takes O(n) steps, 
# then a nested loop takes O(n^2) steps.
# This is because the inner loop repeats 
# the outer loop's steps n times, 
# so total steps is n * n.

| 1 | 2 | 3 |
| 4 | 5 | 6 |
| 7 | 8 | 9 |




John meets Marissa
John meets Pete
John meets Dayton
Marissa meets John
Marissa meets Pete
Marissa meets Dayton
Pete meets John
Pete meets Marissa
Pete meets Dayton
Dayton meets John
Dayton meets Marissa
Dayton meets Pete

Slices

In [ ]:
# • Take a slice of the list below:
pizzas = ["Hawai", "Pepperoni", "Fromaggi", "Napolitana", "Diavoli"]
pizza_slice = pizzas[1:4] 
print(pizza_slice)

# • Given the text “Hello World”, take the slice “World”
text = "Hello World"
world_slice = text[6:]
print(world_slice)

Sliced Pizza List: ['Pepperoni', 'Fromaggi', 'Napolitana']
World

multiple returns

In [ ]:
# • Create a function that returns a,b and a+b
def func():
    return "sir", "yes", "SIRRRR"

result = func()
print(result[0])
print(result[1])
print(result[2])

sir
yes
SIRRRR

In [ ]:
# • Create a function that returns 5 variables
def return_five_variables():
    var1 = 17
    var2 = "Hello"
    var3 = [1, 2, 3]
    var4 = True
    var5 = 3.14
    return var1, var2, var3, var4, var5

var1, var2, var3, var4, var5 = return_five_variables()
print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)
print("Variable 4:", var4)
print("Variable 5:", var5)

Variable 1: 10
Variable 2: Hello
Variable 3: [1, 2, 3]
Variable 4: True
Variable 5: 3.14

Scope

In [ ]:
# • Add a function reduce amount that changes the variable balance
# • Create a function with a local variable
balance = 100

def reduce_amount():
    amount = 50 
    global balance
    balance -= amount
    
reduce_amount()
print(balance)

Time and date

In [ ]:
# • Print the date in format year-month-day
from datetime import date
print(date.today())

2024-02-01

Try except

In [ ]:
# • Can try-except be used to catch invalid keyboard input?
while True:
    try:
        user_input = int(input("Enter a number: "))
        break
    except ValueError:
        print("NUMBERRRRRR")

NUMBERRRRRR
NUMBERRRRRR
NUMBERRRRRR
NUMBERRRRRR
NUMBERRRRRR
NUMBERRRRRR
NUMBERRRRRR
NUMBERRRRRR

KeyboardInterrupt: Interrupted by user

In [ ]:
# • Can try-except catch the error if a file can’t be opened?
try:
    with open("fewjkasifjgabwiuefqbwaeiugwquegf.txt", "r") as file:
        content = file.read()
except FileNotFoundError:
    print("not found")
    
# • When would you not use try-except?
# when the error doesn't interrupt the flow of the program

Class

In [ ]:
# • Can you have more than one class in a file?
class MyClass1:
    pass

class MyClass2:
    pass

In [ ]:
# • Can multiple objects be created from the same class?
class MyClass:
    def __init__(self, name):
        self.name = name

obj1 = MyClass("Object 1")
obj2 = MyClass("Object 2")

In [ ]:
# • Can objects create classes?
# No, objects don't create classes.

In [ ]:
# • Using the code above, create another object
class MyClass:
    def __init__(self, name):
        self.name = name

obj1 = MyClass("Object 1")
obj2 = MyClass("Object 2")
obj3 = MyClass("Object 3")

In [ ]:
# • Add a method to the class: location()
class MyClass:
    def __init__(self, name):
        self.name = name

    def location(self):
        print(f"{id(self)}")

obj = MyClass("MyObject")
obj.location()

4631630976

Getter and setter

In [ ]:
# • Add a variable age and create a getter and setter
class Person:
    def __init__(self, name, age):
        self._age = age

    @property
    def age(self):
        return self._age

    @age.setter
    def age(self, value):
        self._age = value if value >= 0 else 0

# • Why would you use getter and setter methods?
# to meet OOP principles/standards

Modules

In [ ]:
# Calling the sin function from the math module
from math import sin, radians
angle = 45 
sin_value = sin(radians(angle))

# Create your own module with the function snake():
from mymodule import snake
snake()

I AM A PYTHON

Inheritance

In [ ]:
# Create a new class that inherits from the class App:
class App:
    def __init__(self, name):
        self.name = name

class NewApp(App):
    def __init__(self, name, version):
        super().__init__(name)
        self.version = version

new_app = NewApp("MyApp", "43.2.0")
print(f"{new_app.name} - Version {new_app.version}")

MyApp - Version 43.2.0

In [ ]:
# • Try to create a class that inherits from two super classes (multiple inheritance)
class ClassA:
    def A(self):
        print("A")

class ClassB:
    def B(self):
        print("B")

class ClassC(ClassA, ClassB):
    def C(self):
        print("C")

obj_C = ClassC()
obj_C.A()
obj_C.B()
obj_C.C()

A
B
C

Static Method

In [ ]:
# • Can a method inside a class be called without creating an object?
class MyClass:
    @staticmethod
    def static_method():
        print("static method.")

MyClass.static_method()

static method.

Iterable
What is an iterable?
    An iterable is an object allowing iteration over its elements

Which types of data can be used with an iterable?
    lists, tuples, strings, sets, dictionaries, generators, and iterators.

Classmethod

In [ ]:
#     What is a classmethod?
class MyClass:
    @classmethod
    def my_class_method(cls):
        pass

# How does a classmethod differ from a staticmethod?
class MyClass:
    @staticmethod
    def my_static_method():
        pass

Multiple inheritance
Do all programming languages support multiple inheritance? 
    -no java swift ruby dont
Why would you not use multiple inheritance?
    -it makes the code hard to read and understand
• Is there a limit to the number of classes you can inherit from?
    -No